manifest {
    name = 'BASE-niPGT-M'
    author = 'Ruiqi Zhang | Quangui Wang | Zeyu Wu'
    version = '1.0.0'
    homePage = 'https://github.com/Ge-lab-pku/BASE-niPGT-M'
}

profiles {
    standard {
        process {
            executor = 'local'
            memory = '16.GB'
            time = '4.h'
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'compute_plus'
            memory = '2.GB'
            time = '2.h'
        }
    }
}

params {
    sample_sheet = "sample_sheet.tsv"
}

process {
    beforeScript = "chmod +x ${projectDir}/bin/*.py"
}
